<h1>LOGIN</h1>
<form action="/sessions" method="post">
  <input class="input-field" type="text" placeholder="email" name="email"><br/>
  <input class="input-field" type="password" placeholder="password" name="password"><br/>
  <input type="submit" value="Login">
</form>