<h1>REGISTER</h1>
<form action="/users" method="post">
  <input class="input-field" type="text" placeholder="email" name="user[email]"><br/>
  <input class="input-field" type="password" placeholder="password" name="user[password]"><br/>
  <input type="submit" value="Submit">
</form>
