<h1>UPLOAD A VIDEO</h1>
<form action="/videos" method="post">
  <input class="input-field" type="text" placeholder="youtube link" name="video[link]"><br/>
  <input class="input-field" type="text" placeholder="title" name="video[title]"><br/>
  <textarea name="video[description]" placeholder="description"></textarea></br>
  <input type="submit" value="Submit">
</form>
